/* Start Body and Layout Styles */

html, body {
	font-family: "Helvetica Neue", Helvetica, Arial,  sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

div.main-container {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

div.content {
	width: 65%;
	float: left;
	margin: 0px;
}

div.sidebar {
	background-color: #5DCEC6;
	width: 35%;
	float:left;
	margin: 0px;
}

/* End Body Styles */

/* Start Nav Bar Styles */

nav {
	background-color: #33CEC3;
	height: 40px;
}

nav ul {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	list-style: none;
	size: 100%;
}

nav ul li {
	display: block;
	position: relative;
	float: left;
}

nav ul li a {
	color: white;
	display: block;
	text-decoration: none;
	padding: 0em 0.9375em;
	white-space: nowrap;
	line-height: 40px;
	height: 40px;
	width: 60px;
	vertical-align: middle;
	text-align: center;
}

nav ul li a:hover {
	background-color: #00665E;
}

/* Start Nav Bar Styles */

/* Start Playlist Sidebar Styles */

div.sidebar-table {
	font-size: 0.75em;
	margin: 0px;
	padding: 2px 5px;
	display: table;
}

div.sidebar-row {
	display: table-row;
}

div.sidebar-row > div {
	display: table-cell;
}

h2#sidebar-title {
	margin: 0px;
}

div#sidebar-row-header {
	font-weight: 900;
}

div.timetable {
	width: 15%;
}

div.sidebar-artist {
	width: 37%;
}

/* End Playlist Sidebar Styles */
