{% extends "afkradio/base.html" %}
{% load base_extra %}

{% block title %}{{ block.super }} | Artist - {{ query }} {% endblock %}

{% block content %}
<div class="subheading-container">
	<div class="content-subheading">
		<h1>{{ query }}</h1>
	</div>
</div>
{% if songs_list %}
<div class="content-table">
	<div class="content-row" id="content-header">
		<div class="song-title">Title</div>
		<div class="song-album">Album</div>
		<div class="song-year">Year</div>
		<div class="song-playcount">Played</div>
		<div class="song-favecount">Faved</div>
		<div class="song-request">Request</div>
	</div>
{% for song in songs_list %}
	<div class="content-row">
		<div class="song-title">
			<a href="{% url 'afkradio:singlesong' song.id %}">{{ song.title  }}</a>
		</div>
		<div class="song-album">
			<a href="{% url 'afkradio:album' %}?name={{ song.album|fix_special_chars }}">{{ song.album }}</a>
		</div>
		<div class="song-year">{{ song.year }}</div>
		<div class="song-playcount">{{ song.playcount}}</div>
		<div class="song-favecount">{{ song.favecount}}</div>
		<div class="song-request">
			<form action="" method="post">
				{% csrf_token %}
				<input type="hidden" value="{{ song.pk }}" name="req_song_id" />
				<input type="submit" value="Click" name="req_button" />
			</form>
		</div>
	</div>
{% endfor %}
</div>
{% else %}
	{% if query %}
		<p> No songs found with search query "{{ query }}"</p>
	{% else %}
		<p> No songs found in database </p>
	{% endif %}
{% endif %}
{% endblock content %}


